h1 {
    text-align: center;;
}
form {
    margin-top: 30%;
}
div img {
    width: 100%;
    height: fit-content;
}

.col-6 {
    height:600px;
    color: white;
}
.col-12-2 {
    height: 51px;
}
.col-12-1 {
    height:100px
}
#signUpLink {
    margin-left: 152px;
    padding-right: 19px;
}
#requiredPad {
    padding-bottom: 10px;
}
 div .form-group {
    margin-bottom: 2rem;
}



/* 
.container {
    margin-top: 12%;
    
}
h1 {
    padding-bottom: 20px;
}
#loginOption {
    margin-left: 75%;
}
#signUpLink {
    padding-right: 35px;
} */