h1 {
    text-align: center;;
}
div img {
    width: 100%;
    height: fit-content;
}

.col-6 {
    height:600px;
    color: white;
}
.col-12-2 {
    height: 51px;
}
.col-12-1 {
    height:100px
}
#existingAcctLink {
    margin-left: 180px;
    padding-right: 22px;
}
#requiredPad {
    padding-bottom: 10px;
}
 div .form-group {
    margin-bottom: 2rem;
}


/* ORIGINAL CODE */

/* .container {
    margin-top: 12%;
    background-color: #0d0d38;
}
#requiredPad {
    padding-bottom: 10px;
}
#loginOption {
    margin-left: 74%;
}
#existingAcctLink {
    padding-right: 35px;
} */