h1 {
    text-align: center;
}

div .row.brick {
    background-image: url("../resources/images/peoplerow.jpg"); 
 
    height: 200px;

    background-size: cover;
    background-position-y: 50%;
    /* opacity: 0.7; */
        
}
div img {
    width: 100%;
    height: fit-content;
}

.col-6 {
    height:600px;
    color: navy;
}
.col-12-2 {
    height: 51px;
}
.col-12-1 {
    height:100px
}
#existingAcctLink {
    margin-left: 180px;
    padding-right: 22px;
}
#requiredPad {
    padding-bottom: 10px;
}
 div .form-group {
    margin-bottom: 2rem;
}

body {
    background: #222;
    background-size: cover;
    overflow: scroll;
  }
  
  div .social {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    padding-top: 23px;
  }
  
  .social .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px dashed white;
    background-clip: content-box;
    padding: 10px;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 50px;
  }
  
  .social .link span {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .social .link:hover {
    padding: 20px;
    color: white;
    margin-left: -5px;
    transform: translateX(10px) rotate(360deg);
  }
  
  .social .link.google-plus {
    background-color: tomato;
    color: white;
  }
  
  .social .link.twitter {
    background-color: #00ACEE;
    color: white;
  }
  
  .social .link.facebook {
    background-color: #3B5998;
    color: white;
  }
  div img {
    padding-bottom: 8px;  
    padding-bottom: 8px;
}
.container-fluid {
    background-image: url("../resources/images/brickwall/brickwall/brickwall.png");
}
.btn.btn-primary {
    margin-left: 88%;
    margin-top: -53px;
}



/* ORIGINAL CODE */

/* .container {
    margin-top: 12%;
    background-color: #0d0d38;
}
#requiredPad {
    padding-bottom: 10px;
}
#loginOption {
    margin-left: 74%;
}
#existingAcctLink {
    padding-right: 35px;
} */