.jumbotron{
  color: white;
  position: relative;
  padding:0;
  margin-top:70px;
  background: #000d81;
  margin-top: 23px;
  text-align:center;
  margin-bottom: 0;
}

  .dropbtn {
background-color: #000d81;
color: white;
padding: 16px;
font-size: 16px;
border: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: #000d81;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #dc3545;}


ul {
  list-style-type: none;
}

.comment-box {
	width: 500px;
	height: 50px;
	font-size:15px;
}

.add-btn {
	width: 80px;
    font-size: 15px;
    background-color: #000d81;
    color: white;
}

.comment-names {
	color:blue;
	margin-top:20px;
	
}

.name-names {
	width: 200px;
	height: 30px;
	font-size: 15px;
}

.hr{
	color:rgba(0,0,0,0.15);
	width:600px;
}

.comment-header {
	display:flex;width:50%;justify-content:space-between;
}

.comment-input-row {
	display:flex;margin-top:20px;margin-bottom:10px;
}


body {
    background: #b1bae1;
    background-size: cover;
    overflow: scroll;
  }
  
  div .social {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    padding-top: 23px;
  }
  
  .social .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px dashed white;
    background-clip: content-box;
    padding: 10px;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 50px;
  }
  
  .social .link span {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .social .link:hover {
    padding: 20px;
    color: white;
    margin-left: -5px;
    transform: translateX(10px) rotate(360deg);
  }
  
  .social .link.google-plus {
    background-color: tomato;
    color: white;
  }
  
  .social .link.twitter {
    background-color: #00ACEE;
    color: white;
  }
  
  .social .link.facebook {
    background-color: #3B5998;
    color: white;
  }
  div img {
    padding-bottom: 8px;  
    padding-bottom: 8px;
}

.btn.btn-primary {
    margin-left: 88%;
    margin-top: -53px;
}