body {
    /* margin-left: 28%; */
   background-color: #0d0d38;
   /* background: url("../resources/images/happypeople.jpg") no-repeat center center; */
   color: black; 
   position: relative;
   margin-right: 15%;

}
.container{
  /* margin-right: 0px;
  margin-left: 0px; */
  padding-left: 0px;
  padding-right: 0px;
  max-width: 500px;
  margin: auto;
  color: white;
  padding: 10px;
}
h2{
    /* padding-left: 120px; */
    text-align: right;
}

img {
    width: 37px;
}

a {
    padding-left: 13px;
}
