/* body { */
    /* margin-left: 28%; */
   /* background-color: #0d0d38; */
   /* background: url("../resources/images/happypeople.jpg") no-repeat center center; */
   /* color: black; 
   position: relative;
   margin-right: 15%;

} */
/* .container{ */
  /* margin-right: 0px;
  margin-left: 0px; */
  /* padding-left: 0px;
  padding-right: 0px;
  max-width: 500px;
  margin: auto;
  color: white;
  padding: 10px;
} */
/* h2{ */
    /* padding-left: 120px; */
    /* text-align: right;
} */


/* 
a {
    padding-left: 13px;
} */ 


/* .card {
    margin-left: 17px;
} */

/* .col-8 {
    padding-left: 198.5px;
    padding-right: 204.5px;
} */

body {
    background: #222;
    background-size: cover;
    overflow: scroll;
  }
  
  div .social {
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    padding-top: 23px;
  }
  
  .social .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px dashed white;
    background-clip: content-box;
    padding: 10px;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 50px;
  }
  
  .social .link span {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .social .link:hover {
    padding: 20px;
    color: white;
    margin-left: -5px;
    transform: translateX(10px) rotate(360deg);
  }
  
  .social .link.google-plus {
    background-color: tomato;
    color: white;
  }
  
  .social .link.twitter {
    background-color: #00ACEE;
    color: white;
  }
  
  .social .link.facebook {
    background-color: #3B5998;
    color: white;
  }
  div img {
    padding-bottom: 8px;  
    padding-bottom: 8px;
}
select#state {
    border-style: solid; 
    border-color: green;
}
select#party {
    border-style: solid; 
    border-color: green;
}
button.float-right {
    border-style: solid;
    border-color: #096fdc;
}
a.navbar-brand {
    border-right: solid;
    padding-right: 13px;
    padding-left: 10px;
};

